.content {
    position: relative;
    left: 2%;
    top: 20px;
    font-size: 30px;
}

.items {
    position: relative;
    left: 2%;
    top: 20px;
}

#contact-email {
    top: 70px;
}

.sources {
    position: relative;
    left: 2%;
}

#sources {
    position: relative;
    left: 2%;
}

.globe {
    position: relative;
    height: 170px;
    left: 50%;
    top: 80px;
}